@model DataAccess.Model.EshopUzivatel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["success-message-registration"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success-message-registration"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}
@if (TempData["error-message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error-message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}

<div class="container">
    @Html.ValidationSummary()
    @using (Html.BeginForm("Registrovat", "Registrace", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <fieldset class="form-group">
        <legend>Registrace nového zákazníka</legend>
        @Html.LabelFor(x => x.Login, "Login: ", new { @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
        @Html.Label("Heslo: ", new { @class = "col-form-label" })
        @Html.Password("heslo", "", new { @class = "form-control" })
        @Html.Label("Heslo znova: ", new { @class = "col-form-label" })
        @Html.Password("hesloZnova", "", new { @class = "form-control" })
        @Html.LabelFor(x => x.Jmeno, "Jméno: ", new { @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Jmeno, new { @class = "form-control" })
        @Html.LabelFor(x => x.Prijmeni, "Přijmení: ", new { @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Prijmeni, new { @class = "form-control" })
        @Html.LabelFor(x => x.Email, "Email: ", new { @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.LabelFor(x => x.Adresa, "Adresa : ", new { @class = "col-form-label" })
        @Html.TextBoxFor(x => x.Adresa, new { @class = "form-control", placeholder = "Adresa" })
        @Html.Label("PSČ (bez mezer): ", new { @class = "col-form-label" })
        @Html.TextBox("psc", "", new { @class = "form-control", placeholder = "00000" })
    </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" value="Registrovat" />
            
        </fieldset>
    }
</div>
