@using DataAccess.Dao;
@using DataAccess.Model;
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">



    <title>OneHundredEighty</title>
    <link href="@Url.Content("~/Content/LayoutStyle.css")" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
    <style type="text/css">
        .bgimg {
            background-image: url('../Content/tp.jpg');
            background-repeat:no-repeat;
            background-size:135%;
            
        }
        .bgpic {
            background-image: url('../Content/bg.jpg');
            background-repeat: no-repeat;
            background-size: 160%;
        }
    </style>

   
</head>
<body class="bgimg">
       
   
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow border-dark border-primary bgpic">
        <h5 class="my-0 mr-md-auto font-weight-normal font-weight-bold card-header size shadow-lg bg-dark"><a class="p-2  text-white" href="@Url.Action("Index" , "Home")">OneHundredEighty.cz</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            @{ EshopUzivatel uzivatel = new EshopUzivatelDao().GetByLogin(User.Identity.Name);


                if (uzivatel.Role.Identifikator == "admin")
                {
                    <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Registrace")">Registrace</a>
                }
            }
            <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Zbozi")">Zboží</a>
            <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Reklamace")">Reklamace</a>
            <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "ZpetnaVazba")">Hodnocení</a>
            @{ EshopUzivatel uzivatel1 = new EshopUzivatelDao().GetByLogin(User.Identity.Name);


                if (uzivatel1.Role.Identifikator == "admin")
                {
                    <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Objednavka")">Objednávky</a>
                }
                if (uzivatel1.Role.Identifikator == "zamestnanec")
                {
                    <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Objednavka")">Objednávky</a>
                }
                if (uzivatel1.Role.Identifikator == "uzivatel")
                {
                    <a class="p-2 text-white shadow-lg bg-dark" href="@Url.Action("Index" , "Objednavka")">Košík</a>
                }
            }

        </nav>


        <a class="btn btn-dark shadow-lg" href="@Url.Action("Logout" , "Prihlaseni")">Odhlášení</a>
    </div>



    <div class="container bgpic p-1">
        @RenderBody()
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top ">

        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted text-center">&copy; 2018</small>
        </div>



    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>
</html>





